<div class="sidebar p-3">

    <h3 class="text-white">
        🎓 Beaply
    </h3>

    <hr>

    <a href="/dashboard" class="menu-item">
        🏠 Dashboard
    </a>

    <a href="/beasiswa" class="menu-item">
        🎓 Beasiswa
    </a>

    <a href="/pendaftaran" class="menu-item">
        📝 Pendaftaran
    </a>

    <a href="/dokumen" class="menu-item">
        📂 Dokumen
    </a>

    <a href="/laporan" class="menu-item">
        📊 Laporan
    </a>

    <a href="/profil" class="menu-item">
        👤 Profil
    </a>

    <hr>

    <a href="/logout" class="menu-item text-danger">
        🚪 Logout
    </a>

</div>